[2018-04-25 20:59] harlowja opened #7 "Avoid raw passwords in plugin configuration"
It seems common that plugins start off by having passwords that people present directly to the plugin; then a plugin realizes that jenkins has a credential store that should be used instead of a direct password. I've seen this realization in the github plugin, the openstack clouds plugin and a few others. So likely the same needs to be done here for the `influx_db_password` in that it should just

[2018-07-21 16:16] gtirloni opened #9 "NPE - Unexpected exception in CPS VM thread: CpsFlowExecution"
Jenkins 2.121.2
Github Autostatus Plugin 2.1
GitHub Branch Source Plugin 2.3.6
Github Custom Notification Context SCM Behaviour 1.1
GitHub Pipeline for Blue Ocean 1.7.1
GitHub plugin 1.29.2
Pipeline: GitHub 2.0
Git plugin 3.9.1

[code]

[2018-07-24 15:48] jeffpearce commented on #9
Hi @gtirloni. Thanks for reporting this. It should be pretty easy to fix this. I'm wondering whether the plugin is working in general, or whether this happens for every build? Either way I'll fix it, of course

[2018-07-24 16:34] gtirloni commented on #9
@jeffpearce It's happening for every build. Thanks a lot for looking into this!

[2018-07-24 16:35] jeffpearce commented on #9
@gtirloni - the specific error points to the code having trouble accessing the credentials for github. Does this config per chance have a user id without a password? That's one thing that could cause this

[2018-07-24 16:51] gtirloni commented on #9
Yes, we're using the GitHub Branch Source plugin. We've had to add the GitHub credentials in two different ways to satisfy the branch source and the github integration plugins: once with "username and password" (username is GH ID, password is personal access token) and another with "secret text" (ID is username, text is the personal access token).

So in "Configure Jenkins" under "GitHub", we have

[2018-07-30 22:48] jeffpearce commented on #9
@gtirloni I couldn't exactly repro your setup for some reason, but the problem seems pretty strait forward. Are you able to install a private build of the plugin for verification?

[2018-07-30 22:59] #9 closed

[2018-07-30 23:10] gtirloni commented on #9
@jeffpearce yes, certainly. thanks!

[2018-07-30 23:32] jeffpearce commented on #9
I uploaded to https://1drv.ms/u/s!AoghZSNMKZIQkP9wXF1tav23w5Yv1w. I also published to the experimental plugin update center, but that'll probably take awhile to show up. LMK if it fixes the problem for you

[2018-07-31 13:10] gtirloni commented on #9
@jeffpearce hi Jeff, I tested it with a new build and there were not NPE's anymore and the GitHub status were set as expected. Thanks a lot, much appreciated!

[2018-08-02 14:26] jeffpearce commented on #9
@gtirloni thanks again for reporting this and verifying. It's fixed in pending release 3.0

[2018-08-02 14:26] jeffpearce commented on #7
@harlowja Thanks for reporting this. It's fixed in pending release 3.0

[2018-08-02 14:26] #7 closed

[2018-08-08 13:14] jeffpearce opened #11 "java.lang.NullPointerException in version 3.0"
In version 3.0 we are getting this NPE

java.lang.NullPointerException
	at org.jenkinsci.plugins.githubautostatus.GithubNotificationConfig.fromRun(GithubNotificationConfig.java:99)
	at org.jenkinsci.plugins.githubautostatus.GithubNotificationConfig.fromRun(GithubNotificationConfig.java:93)
	at org.jenkinsci.plugins.githubautostatus.GithubBuildStatusGraphListener.checkEnableBuildStatus(GithubBuildS

[2018-09-02 04:04] el-psycho opened #12 "java.lang.NoClassDefFoundError in version 3.0, Jenkins 2.121.3"
Getting the following error on version 3.0 with Jenkins 2.121.3. Note that `org/jenkinsci/plugins/pipeline` changes some times depending on the job but the rest of the error looks the same. Tried downgrading to 2.1 but that didnt make the error go away. I guess some configuration or something must remain. I had to completely uninstall this plugin to get my jenkins jobs working again:

[code]

[2018-09-02 13:10] jeffpearce commented on #12
Looks like a dependency (which we shouldn't have had in the first place) went away. This seems like an easy fix

[2018-09-02 13:56] jeffpearce opened #14 "Need to escape = and ,"
The influxdb protocol requires escaping ` `, `,` and `=`. The code already escapes space, and should do the same for `=` and `,`

[2018-09-02 14:14] jeffpearce commented on #14
Fixed in release 3.0.1

[2018-09-02 14:14] #14 closed

[2018-09-02 14:16] jeffpearce commented on #12
Thanks for reporting this @el-psycho.

This should be fixed in release 3.0.1, which will be available sometime today. Please let me know if you continue to have issues.

[2018-09-02 14:16] #12 closed

[2018-09-04 23:28] jeffpearce opened #16 "should provide job name information for non-github jobs"
Currently, if we are gathering stats about jobs which aren't part of a github multibranch config, we don't provide a job name when sending stats to influxdb, since we grab that info from github. We should grab that info from the WorkfowRun for these jobs.

[2018-09-05 13:06] #16 closed

[2018-09-17 17:48] jeffpearce opened #20 "Need to support Configuration as Code plugin"

[2019-01-08 09:08] GautierAtWork opened #26 ""Could not find commit sha" in the logs"
The Autostatus plugin gives us this error on all our Pull-requests builds.
[code]
What point to this line:
https://github.com/jenkinsci/github-autostatus-plugin/blob/2d599c5c3afa4f59dea128ac586b6e3b2d4d9daa/src/main/java/org/jenkinsci/plugins/githubautostatus/GithubNotificationConfig.java#L156

Is there anything we should take care of?

[2019-01-08 15:53] jeffpearce commented on #26
Hi, couple questions:
- Are you seeing this for all builds, or just some of them
- Is this GitHub Enterprise or public GitHub

[2019-01-08 16:04] GautierAtWork commented on #26
Hi Jeff,
 - This is visible for all builds
 - We use public GitHub
 - We use the feature which provides Github status only

[2019-01-08 16:07] jeffpearce commented on #26
Thanks. For followup,
- has this worked in the past
- Is the plugin sending build status to GitHub?

[2019-01-08 16:18] GautierAtWork commented on #26
- It didn't work in the past
  - The plugin is not sending build status to Github

[2019-04-01 06:25] nthienan commented on #20
I'm willing to do this. Please guide me on how to get starting or share reference documents

[2019-04-03 16:39] sgleske-ias opened #31 "Jenkins reports "Error signal" context on failure"
When a build fails with an exception (outside of a stage I believe), then a context is voted to GitHub named `Error signal`.

When a build later succeeds all of the contexts are updated to success but `Error signal` hangs around because its status is not updated by the successful build.  This tends to confuse users and requires an explanation to a user when it happens.

`Error signal` should not b

[2019-04-10 12:23] phishy opened #32 "Could not find githubSCMSource - status will not be provided for this build"
What plugin defines this class? I have GitHub configured in System global.

[2019-04-10 12:47] phishy commented on #32
Upon further investigation, it seems that I needed to choose GitHub Organization over Multibranch Pipeline style of project.

[2019-04-10 12:47] #32 closed

[2019-04-10 14:59] jeffpearce commented on #32
Hi @phishy. What are you trying to do with the plugin? It can do two things:
1 Provide per-stage status to your github pull requests
2 Send job and stage status to a configured influxbd rest API

If you want to use it for influxdb, you should be able to ignore the warnings, and shouldn't need to choose GH Org. I can look into whether it can work with GH org though.

[2019-04-11 07:58] damon-atkins opened #35 "Enhancements Prefix and comment"
Prefix as in your example you have `deploy` it would be nice to be able to prefix it with something `<prefix>/deploy` reason being is multiple pipelines can be triggered, and if that was the case you could not tell which "setup" stage belong to which running pipeline.

The other alternative is to change the status message in the example you have
"This commit is being built"  This line could be cha

[2019-04-11 14:17] phishy commented on #32
@jeffpearce Oh it just took me a minute to realize that I had to choose GitHub Organization in order to get the stages to autoreport status to GitHub. For Multibranch Pipeline, it was throwing the error 'Could not find githubSCMSource'. Great work tho!

[2019-04-28 11:34] bad2cat commented on #31
i also happen this error "Error signal" ,but no any exception. Just found this error, no other  information.
And this error happen once in a while. How could i resolve it?

[2019-04-28 11:34] bad2cat commented on #31
i also happen this error "Error signal" ,but no any exception. Just found this error, no other  information.
And this error happen once in a while. How could i resolve it?

[2019-05-10 15:18] jeffpearce commented on #31
Can you give me an example of a pipeline where this happens? The plugin is doing this intentionally, because I found some poorly written Jenkinsfiles that had sepsf outside of a stage, and I wanted to make sure errors in those got reported. But it seems like that's doing the wrong thing in your case, so if I can understand the case, I should be able to handle both cases. In retrospect, it would ha

[2019-05-10 15:35] jeffpearce commented on #35
HI @damon-atkins - are you referring to the status `continuous-integration/jenkins/pr-merge - This commit is being built`? That status actually comes from the [github branch plugin source plugin](https://github.com/jenkinsci/github-branch-source-plugin/blob/master/src/main/java/org/jenkinsci/plugins/github_branch_source/GitHubNotificationContext.java#L147-L157) and shows the overall status of the

[2019-05-10 15:35] #35 closed

[2019-05-10 15:37] jeffpearce commented on #20
HI @nthienan. Apologies for taking so long to respond. If you're still interested, there's a getting started guide here https://github.com/jenkinsci/configuration-as-code-plugin. I haven't done this before, but will do my best to answer any questions you have.

[2019-05-12 14:30] nthienan opened #38 "Cannot notify final build status"
After upgrading to version 3.4, InfluxDB notifier cannot update final build status. Here is error:
[code]
This commit causes the error: https://github.com/jenkinsci/github-autostatus-plugin/commit/4e5f24b434bd9ea81f60921c27b33daf47cc0b0b

[2019-05-12 15:19] nthienan commented on #20
Thanks, @jeffpearce. I'm still willing to support this feature. However, I'm quite busy now. Will do later

[2019-05-12 19:48] jeffpearce commented on #38
🙀🙀🙀Thanks for reporting @nthienan! I fixed and released a patch - version 3.4.1. Please let me know if that doesn't fix it.

Jeff

[2019-05-12 19:48] #38 closed

[2019-05-13 04:28] sgleske-ias commented on #31
I'll try getting you an example this week.  In general, it shouldn't matter if a pipeline was written poorly.  The overall status of the pipeline will be reported by Jenkins as `pr-merge` or `pr-head`.  Because this will vote back `Error signal` it means that even if the pipeline passes on a second manual run (or comment trigger), the `Error signal` will still be left around.

[2019-05-13 14:41] jeffpearce commented on #31
Ah, I see the disconnect. The reporting of ErrorSignal I added was for the part of the plugin that reports errors to an influxdb installation. This is probably *never* interesting in the context of github statuses, so I'll just ignore it for that code path. Should have a fix in a bit. Thanks for reporting

[2019-05-13 20:42] #31 closed

[2019-05-13 21:04] jeffpearce commented on #31
Fixed in release 3.4.2

[2019-05-14 06:28] timmy8526 opened #40 ""job" MEASUREMENT not found in influxDB"
I setup the influxDB and Grafana exactly the same as tutorial said.
Then I trigger my pipeline job, but only 'stage' MEASUREMENT and stage data is sent to my DB.

I check the Grafana board (5786) which requires 'job' MEASUREMENT to get status data but I failed to find it in my DB, is there any other setting I missed?

[code]

[2019-05-14 13:38] jeffpearce commented on #40
Are there any errors in the Jenkins log? I’ll take a look today to see if somethings broken, but it’s possible it’s data specific, so the error log might help figure that out.

Also, which version of the plugin are you using?

[2019-05-14 14:49] jeffpearce commented on #40
@timmy8526 , I verified that the job measurement is flowing with the latest release (3.4.2), so I suspect that the bug is that the data isn't being encoded correctly before sending it. If this is the case, there should be a warning that it couldn't be sent in the system log.

[2019-05-15 06:25] timmy8526 commented on #40
I was using ver 3.4, and the error logs did send.
I am going to update the version to 3.4.2 and try again later today, and will update status here.
[code]

[2019-05-15 14:06] jeffpearce commented on #40
Yeah, this was issue #38 , which fortunately was quickly reported and fixed. Sorry about the confusion, but I'm glad it's working for you!

[2019-05-15 14:06] #40 closed

[2019-06-04 12:40] sgleske-ias commented on #31
Thanks for looking at this @jeffpearce !

[2019-06-08 12:30] viallikavoo commented on #20
I see that this plugin can be configured via JCasC plugin  , I used the following snippet

`unclassified:
  BuildStatusConfig:
    credentialsId: "${CREDENTIALS_ID}"
    enableInfluxDb: true
    enableGithub: false
    influxDbDatabase: "jenkins"
    influxDbUrl: "${JENKINS_INFLUX_URL}"
`

[2019-06-08 13:54] jeffpearce commented on #20
Hi @viallikavoo - thanks for the info. I've yet to look into what it takes to support JSasC - does this mean I should close this issue?

[2019-06-21 07:49] viallikavoo commented on #20
Looking at the goal of this issue, it looks like this plugin can be configured using JSasC. So i think yes, you may close the issue.

[2019-06-21 14:10] jeffpearce commented on #20
Thanks @viallikavoo. I since learned that many plugin writers are adding tests to verify JSaC compatibility, it would probably be good to have that

[2019-07-12 05:03] nthienan opened #43 "Adding two more fields "jobUrl" and "buildNumber" to job measurement"
Hi there,

I'm testing this plugin with new code changes to add 2 more fields "jobUrl" and "buildNumber" but facing an error as below:
[code]
I tried adding the seri by running command:
[code]
then got error
[code]
Please suggest me how to achive this! Appreciate any help!!

[2019-07-12 14:12] jeffpearce commented on #43
Hi @nthienan. I suspect that you need to include quotes around the **joburl** field e.g.
`curl --verbose -X POST -H "Authorization: Basic xxxx=" -d  "job,jobname=DevOps/devops-sample-project/nodejs#34,owner=DevOps/devops-sample-project,repo=nodejs,branch=none,result=CompletedSuccess,blocked=0 jobtime=75701,blockedtime=0,passed=1,joburl=\"job/DevOps/job/devops-sample-project/job/nodejs/34/\",buildn

[2019-07-15 03:26] nthienan commented on #43
Thanks, @jeffpearce. Your suggestion is great. It works now.

Regarding changing schema, could you share more info about schema that you could change to? It may impact to our work since I'm building a Grafana dashboard based on current schema.

BTW, what do you think if **buildNumber** is a tag instead of a field? My problem is when visualization, job name is too long then make a confusing dashboa

[2019-07-15 18:31] jeffpearce commented on #43
Hi @nthienan. Here's my current thinking for:
job https://github.com/jenkinsci/github-autostatus-plugin/blob/schema/src/main/java/org/jenkinsci/plugins/githubautostatus/notifiers/InfluxDbNotifier.java#L204-L214
stage https://github.com/jenkinsci/github-autostatus-plugin/blob/schema/src/main/java/org/jenkinsci/plugins/githubautostatus/notifiers/InfluxDbNotifier.java#L175-L184

I'd like to hear your

[2019-07-15 18:34] jeffpearce commented on #43
Adding it makes sense, but would it work just as well as a field?

[2019-07-17 02:34] nthienan commented on #43
New schema looks fine to me. Willing to get a try when it's released.

No, it wouldn't. My concern, however, as you say, high cardinality tags cause performance issues. What do you think?

[2019-07-17 15:21] jeffpearce commented on #43
@nthienan I'd strongly suggest not making it a tag. "Performance issue" is probably even an understatement. High cardinality will eventually cause the server to start rejecting requests. You might be able to mitigate it with retention policies by only keeping the most recent data.

Can you tell me how you want to use it? I've found that although the grafana query builder has limitations around fie

[2019-07-18 02:44] nthienan commented on #43
Here is my current query:
[code]
which produces a graph as picture below
![image](https://user-images.githubusercontent.com/10244759/61425017-aeab3380-a93f-11e9-95bd-5a2efa8c084e.png)
I don't know how to group build duration by build if we don't have build number or job name as a tag. Appreciate any suggestions.

[2019-07-23 06:05] nthienan commented on #43
@jeffpearce any idea/suggestion?

[2019-07-24 16:59] jeffpearce commented on #43
Hi @nthienan sorry for the delayed response. My first reaction is that adding build number could explode cardinality, but it depends on how many repos the plugin is collecting stats about.

I wonder whether you could aggregate by time instead? It's not as nice a display, but I think it might achieve the same result.

Another thing I'm pondering is adding the ability to control some of the schema i

[2019-07-24 17:03] jeffpearce commented on #43
Allowing control of the schema also might help solve the problem of how to migrate people from the old to the new - they could just not worry about it until they need to

[2019-07-26 03:00] nthienan commented on #43
Thank you for response, @jeffpearce. I'm building a CI/CD dashboard for my organization. The organization has hundreds of repo/job and continue to grow. I don't want to deal with high cardinality issue since it's really serious. Maybe I will remove build duration graph, just have only avg build duration.

It's great to have such feature. Is it possible to release new schema first, then adding abil

[2019-07-26 03:11] nthienan commented on #43
One more thing, could you add job URL and build number as fields in all measurements. Actually, I can open a PR for that, but the schema and code structure are changing. So I want to avoid conflicting.

[2019-07-26 03:19] jeffpearce commented on #43
I’m happy too, you can also send a pr against the branch with the schematic changes

Sent from my iPhone

On Jul 25, 2019, at 8:11 PM, An Nguyen <notifications@github.com<mailto:notifications@github.com>> wrote:

Notice: This email is from an external sender.

One more thing, could you add job URL and build number as fields in all measurements. Actually, I can open a PR for that, but the schema an

[2019-07-26 07:45] nthienan opened #45 "Support MariaDB"
As we discuss in #43, there is many concerns with InfluxDB. So I am planning to add MariaDB as a backend for this plugin. I would like to get your comments. What would you say? @jeffpearce

[2019-07-28 13:11] jeffpearce commented on #43
HI @nthienan. I'm going to try to get the schema update out this week. I'm happy to add these two new fields

[2019-07-31 02:51] nthienan commented on #43
@jeffpearce  #46 is opened, please review

[2019-08-12 07:41] robkorv opened #47 "check on github says ok while stage failed on jenkins (using catchError(buildResult: 'SUCCESS', stageResult: 'FAILURE') in Jenkinsfile)"
**Failed stage shows as success on Github**

My Jenkinsfile looks like this:
Please look at the `stage('aanmelder-python3')` where `catchError(buildResult: 'SUCCESS', stageResult: 'FAILURE')` is used.

[code]

With `catchError(buildResult: 'SUCCESS', stageResult: 'FAILURE')` https://jenkins.io/doc/pipeline/steps/workflow-basic-steps/#catcherror-catch-error-and-set-build-result-to-failure I can set

[2019-08-16 03:22] nthienan commented on #45
Closing this since I use another solution

[2019-08-16 03:22] #45 closed

[2019-08-16 03:27] nthienan commented on #43
@jeffpearce what is plan for next release? I'm waiting for it.

[2019-09-03 22:44] sgleske-ias opened #50 "Autostatus does not work when pipeline is triggered by PR comment"
# Bug

Triggering builds with PR comments is provided by the [pipeline-github-plugin](https://github.com/jenkinsci/pipeline-github-plugin).

When a build is triggered by the cause `org.jenkinsci.plugins.pipeline.github.trigger.IssueCommentCause` then the GitHub autostatus plugin logs

[code]

And does not vote status contexts to GitHub.

# Additional information

However, after the build is comple

[2019-09-04 15:36] sgleske-ias commented on #50
The same issue occurs when a user manually clicks the "build" button in a pull request job.  So the SHA1 not being initially available is due to other causes like `hudson.model.Cause$UserIdCause`.

[2019-09-19 14:45] jeffpearce commented on #43
Hi @nthienan - I've been overbooked lately, but I promise I'll get this out as soon as I can. I appreciate all the work you've done for this plugin

[2019-09-19 19:53] sgleske-ias commented on #50
Seems like we have a pipeline step that causes the SCM to not be available in certain conditions.  I think I'll be able to post reproducible steps for devs.

It happens under specific pipeline steps.  When I have something reproducible I will comment here how to reproduce.

I think this is a github-autostatus bug because Jenkins logs show

[code]

And then the pull requests never gets stages voted

[2019-09-19 19:59] jeffpearce commented on #50
Let me know. There could be a bug in the plugin, but that log is informational level, so I don't know it's an indication. That seems more a symptom of the SCM being unavailable than the cause. But I'm happy to look at any repros

[2019-09-19 20:00] jeffpearce commented on #50
Thanks for reminding me I need to look at this issue :-)

[2019-09-25 09:17] link89 opened #51 "Distinguish ABORT and FAILURE"
When a job is terminated, we can only get one of  `CompletedError` and `CompletedSuccess`
I hope that there is a way we can tell whether it is ABORT or  FAILURE when the result is error.

For aborted job, we hope the result to be `CompletedAborted`

If you think this proposal is reasonable, we can try to create a PR for it.

[2019-09-25 16:03] Perry3D opened #52 "Nested stages"
Hello,

i have a JenkinsFile with multiple nested stages.
A simple example would look like this:
[code]

The status on the github page shows me the results from Stage A and B and 'continuous-integration/jenkins/branch'. How is it possible to show the status from Stage B1, B2, C1 and C2?

Plugin version is 3.5.0. Jenkins is 2.176.3.

[2019-09-25 17:23] jeffpearce commented on #52
It should be fixed in the next release thanks to @alexjrussell:  https://github.com/jenkinsci/github-autostatus-plugin/commit/35a3e132c0da343f73bf799b5785bb2ab8ae0236

I'm hoping to get that out some time next week, but I haven't had much time for open source work :-(

[2019-09-26 18:20] jeffpearce commented on #51
Hi @link89 . That sounds useful to me. Please submit a PR

[2019-10-02 21:46] samrocketman commented on #50
Just updating that I haven't had a chance to look further into this, yet.  It's top of mind for me.

[2019-10-16 14:03] pierreluctg commented on #47
Hi @jeffpearce can you please have a look?

Thank you

[2019-10-18 20:33] sgleske-ias opened #68 ""Error Signal" appears on pull requests when influxdb is not configured"
# Bug report

A failed pull request occasionally get's an `Error Signal` context voted back in the pull request.  The following is a screenshot example,

<img width="1106" alt="Screen Shot 2019-10-18 at 4 27 26 PM" src="https://user-images.githubusercontent.com/30084856/67126215-90660580-f1c4-11e9-940b-dd83e1c43665.png">

When the pull request is updated and fixed the `Error Signal` does not go aw

[2019-10-19 13:20] jeffpearce commented on #68
Oops! It was fixed, but I subsequently refactored the code to simplify and regressed it.

[2019-10-21 18:14] sgleske-ias commented on #68
No worries, thank you for your maintenance and support!  This plugin is very valuable so users and admins don't have to futz around with trying to vote back statuses to pull requests.

[2019-10-29 17:13] arthur-c opened #72 "PR 71 marks builds with catched errors as failed"
Hi,

The PR #71  which solved #47 marks builds which contains a catched error as failed in GitHub. The Build is OK in Jenkins.

It blocks all the Github repos that have build conditions for merging.

Catching error is a native groovy function that works in Jenkins, github-autostatus-plugin should follow the Jenkins behaviour.

[2019-10-29 17:27] jeffpearce commented on #72
Does it actually fail the build, or just the stage?

I'm ambivalent since I don't rely on caught errors, but the point @robkorv made in #47 about it matching what's shown in pipeline view seemed correct.

[2019-10-29 18:36] arthur-c commented on #72
@jeffpearce it's fails the stage and the build on github. It fails only the step on jenkins.

Yes @dblock is a bit "more right" than me because he is using native jenkins DSL but the groovy try-catch is documented by Jenkins itself: https://jenkins.io/doc/book/pipeline/syntax/#flow-control

We downgraded the plugin version and it works fine.

I understand that's a bit tricky, but maybe we can mark

[2019-10-30 08:48] robkorv commented on #47
tnx @jeffpearce this works as expected :ok_hand:.

![Selectie_101](https://user-images.githubusercontent.com/4266355/67842420-6da7eb00-fafa-11e9-9346-db74a1682f11.png)

[2019-10-30 08:48] #47 closed

[2019-11-06 15:50] awiddersheim commented on #72
We just upgraded and are also battling this as something that is annoying. Simple to recreate with:

[code]

This is a fairly valid use case IMO. In GitHub we mark that particular stage as not being required so we can continue on but it still sends a false signal as something went wrong when it didn't.

[2019-11-07 09:43] robkorv commented on #72
Might this have something todo that the default of `catchError` is `buildResult: 'FAILURE', stageResult: 'SUCCESS' and the `catch` uses that setting while it previous did not?

You might be able to fix this by setting the result that you want in the `catch` for now.
[code]

I do think that when you use `catch` that no errors gets set is the expected behavior, while my request in https://github.com

[2019-11-07 23:39] awiddersheim commented on #72
I feel like what is happening in https://github.com/jenkinsci/github-autostatus-plugin/pull/71 is that it is going one layer to deep and examining each _step_ for a failure rather than just evaluation each _stage_.

[2019-11-08 18:57] jeffpearce commented on #72
There was a request to make the plugin match the pipeline UI, which marks the stage as a failure if any step failed, even if the exception is caught and handled. In retrospect, I don't think that makes sense for this plugin, so I'll revert the behavior to just report the official stage result.

[2019-11-08 19:09] awiddersheim commented on #72
Well, the original ask in #47 was::

[code]

This is setting the entire build as a success but the stage itself as a failure. This also means the _step_ failed as well but for whatever reason the way errors are checked for now is not seeing the  `stageResult` condition. This is similar to how the `try/catch` is happening where the _step_ fails but not the stage.

I guess `catchError()` is storing

[2019-11-11 11:31] krolol opened #73 "Add sending test suite duration to InfluxDB"
According to the documentation of junit plugin, we can get test suite duration(https://javadoc.jenkins.io/plugin/junit/hudson/tasks/junit/SuiteResult.html#getDuration--) . I think, it is be very useful to send such information

[2019-11-11 11:37] krolol opened #74 "Change to send test suite name as tag in v2 schema"
InfluxDB does not support grouping by field, and for v2 schema plugin send test suit name as field.
![image](https://user-images.githubusercontent.com/33641729/68584537-e6129280-0490-11ea-8fac-9e25cf695be7.png)

Need to change this, to send it as tag

[2019-12-04 12:31] shaharon opened #77 "Github PR Status Using Retry Options"
I got a declarative Jenkinsfile set to use "retry option", and while stage command failed on first try, Github PR status it set to failed despite the fact that command is passed on second or third attempts.

**Example**:

stage('Stage1') {
  options { retry(3) }
  steps {
    sh 'some-command'
  }
}

[2019-12-05 10:55] krolol opened #78 "Failed to send data from build to influxDB, when another build already sending data"
![image](https://user-images.githubusercontent.com/33641729/70229359-1fc07b80-1767-11ea-8781-992c21f47ee6.png)

[2019-12-05 16:04] jeffpearce commented on #78
🙀 I'll look into this ASAP

[2019-12-11 09:44] shaharon commented on #77
Anyone?

[2019-12-12 05:55] weigxnow opened #80 "3.6.0 dbversion Modification does not work"

[2019-12-25 09:41] mayaaravotwm commented on #43
Hey @nthienan is it possible that you will share with me your dashboard please?

[2019-12-25 10:33] mayaaravotwm opened #81 ""none" folder and job"
hello,
When I try to get a visible view on grafana, some things get a name and some are "none":
![image](https://user-images.githubusercontent.com/58945684/71443063-7dfecf80-2711-11ea-9287-dd20129047d0.png)
![image](https://user-images.githubusercontent.com/58945684/71443039-5e67a700-2711-11ea-8dd1-cce806094b14.png)

I would really like to have the names since i have same jobs names for different

[2019-12-26 02:44] nthienan commented on #43
Sorry, I can't. However, I'm happy to answer your questions/concerns.
One thing to be noticed, I don't use InfluxDB as a data source for my dashboards. I use MariaDB instead.

[2019-12-26 03:22] nthienan commented on #43
@mayaaravotwm
I can share pictures of my dashboards, but not dashboard's JSON

**Build overall dashboard**
![1](https://user-images.githubusercontent.com/10244759/71455182-8bc25c80-27c6-11ea-9aab-7dfb89eca6df.png)
![2](https://user-images.githubusercontent.com/10244759/71455320-1014df80-27c7-11ea-9469-76456ec919fe.png)
![3](https://user-images.githubusercontent.com/10244759/71455195-91b83d80-27c6-

[2019-12-26 03:25] #43 closed

[2019-12-26 14:17] jeffpearce commented on #80
HI @weigxnow. Can you provide some details to help me understand this better?

[2019-12-26 14:55] jeffpearce commented on #81
Hi @mayaaravotwm. Do you know anything about how the jobs with missing names are configured? I'd expect the parent folder to be set to "none" if the jobs aren't configured through github, but I'd expect the job name to be set in that case, so I'm puzzled by that?

Do you know what type of jobs the ones with missing info are? Are they freestyle jobs?

[2019-12-26 15:13] jeffpearce commented on #78
I can't repro this, but I think #82 should fix it. Let me know if you're still seeing after the next release

[2019-12-26 15:14] jeffpearce commented on #77
I'll take a look.

[2019-12-26 15:15] jeffpearce commented on #52
This should be fixed - let me know if not and we'll reopen.

[2019-12-26 15:17] #78 closed

[2019-12-26 15:38] mayaaravotwm commented on #81
Hi @jeffpearce, thanks for the fast response!
So I checked and the folders are only Data/QA and Data/Staging as it appears above the "none" folder in Grafana (please ignore the CI-CD folders because it's from another jenkins)..
I saw that the job that's missing info are freestyle as you said.
Is it why I have missing info in the folder, some of the jobs, and even the build number?

[2019-12-26 15:44] mayaaravotwm commented on #81
The build number and the cause is missing also in the CI-CD jobs(which are pipelines and have names instead of "none")..
![Screen Shot 2019-12-26 at 17](https://user-images.githubusercontent.com/58945684/71481631-568a2e80-2807-11ea-95cf-d1485b45cdce.png)

[2019-12-27 11:40] vivekj11 opened #83 "Not getting any details for multibranch pipeline"
I have configured the tool in my Jenkins and tried with a couple of pipeline jobs, it works well. However, When I tried it for the multi-branch pipeline, no details are available.
Does it work for the multi-branch pipeline?

[2019-12-27 13:12] vivekj11 commented on #83
It was indeed a mistake from my side. Someone from the team had disabled the plugin from Jenkins.
I am getting all the details now.

[2019-12-27 13:12] #83 closed

[2019-12-29 01:33] darxriggs commented on #51
Hi @link89 did you already make some progress with your PR?

[2019-12-29 01:35] darxriggs commented on #20
@nthienan are you still planning to provide a pull request for a JCasC test?

[2019-12-29 01:38] darxriggs commented on #68
@jeffpearce can this be closed now? You fixed it in #70 - right?

[2019-12-29 16:05] jeffpearce commented on #68
@sgleske-ias - can you verify it's fixed?

[2019-12-29 16:39] jeffpearce commented on #20
Thanks for the reminder, @darxriggs. I will write a quick test

[2019-12-29 16:45] darxriggs commented on #20
[PLUGINS.md](https://github.com/jenkinsci/configuration-as-code-plugin/blob/configuration-as-code-1.34/docs/PLUGINS.md#how-to-test) contains documentation on testing.

[2019-12-30 16:02] #73 closed

[2019-12-30 16:59] jeffpearce commented on #72
I should have a fix for this in the next release that handles the original ask, and doesn't send spam errors when an error is caught

[2019-12-30 17:55] biolauri opened #86 "Support GitHub Enterprise Server"
I would like to request support for GitHub Enterprise Server. This shouldn't be that difficult as the API endpoints remain the same (with only changing the FQDN).

---

Or did I miss something? I just tried it and it didn't work. If yes, sorry for disturbing! 😀

[2019-12-30 18:01] darxriggs commented on #20
Now that #85 is merged, this issue can be closed.

[2019-12-31 08:04] #74 closed

[2019-12-31 16:47] jeffpearce commented on #86
Hi @biolauri. I've used it successfully with GHE. I'm wondering whether there's any interesting errors in the log? The most likely problem is that the Jenkins user that accesses GitHub doesn't have permissions to update statuses.  Can you check that?

[2019-12-31 16:48] jeffpearce commented on #81
Freestyle support isn't very good at this point. I'll see what I can do about improving it.

[2019-12-31 16:53] mayaaravotwm commented on #81
Ok thanks a lot! ☺️
And what about the missing build number and cause in pipeline jobs? Do you have an idea why it happens?

[2019-12-31 17:51] jeffpearce commented on #51
I was able to add this since I'm refactoring the error resolution stuff to correctly handle caught errors.  Should be in next release

[2020-01-07 15:29] mayaaravotwm commented on #81
Hey, any progress on this?

[2020-01-09 10:56] snowblink commented on #72
Wondering if you had an ETA for this fix?

[2020-01-11 02:56] jeffpearce commented on #86
@biolauri - did you get this working yet?

[2020-01-11 02:57] jeffpearce commented on #81
I could start working on it soon. This is also probably a good issue for someone new to the code to pick up

[2020-01-12 15:45] jeffpearce commented on #72
Please try release 3.6.1 and let me know if you are still having issues

[2020-01-12 15:45] #72 closed

[2020-01-12 15:45] jeffpearce commented on #51
Please try release 3.6.1 and let me know if you are still having issues

[2020-01-12 15:45] #51 closed

[2020-01-13 18:13] jeffpearce commented on #77
Hi @shaharon - can you let me know whether it's working with the 3.6.1 release? I didn't fix it intentionally, but I reworked the way the code determines statuses, and I'm now unable to repro it

[2020-01-13 18:31] shaharon commented on #77
@jeffpearce - Thanks for that, currently use 3.6.0, will upgrade to 3.6.1 and let you know.

[2020-01-14 11:06] mkasprzyk commented on #52
Still not working in 3.6.1 :crying_cat_face:

[2020-01-14 14:25] jeffpearce commented on #52
😢 I'll look at it. I might have broken it when I went from 3.6.0 -> 3.6.1.

[2020-01-19 08:14] shaharon commented on #77
@jeffpearce - Looks great using version 3.6.1. Thanks!

[2020-01-19 08:14] #77 closed

[2020-01-20 21:22] biolauri commented on #86
Oh, I'm so sorry! No, unfortunately not. And many thanks for your fast reply!

I didn't see anything in the Pipeline log. Is there any other log where I can dig into?

The token has the full _repo_ scope and its user has admin rights on the repo itself. So permisison-wise, that should be fine, I think.

[2020-01-23 16:19] jeffpearce commented on #86
Hi @biolauri. There might be something in the logs. To capture those:

1. Click _Manage Jenkins_
2. Click _System Log_
3. Click _Add new log recorder_
4. Enter a name
5. Click _Next_
6. Click the _Add_ button next to Loggers
7. Enter _org.jenkinsci.plugins.githubautostatus_ for the logger
8. Click save

After running some jobs you can go back and look at what the plugin has written to the log, and

[2020-01-23 21:25] imrahul361 commented on #81
can i work on it? @jeffpearce

[2020-01-23 22:18] jeffpearce commented on #81
That would be awesome. I haven't looked at it in detail, but I think you can start [here](https://github.com/jenkinsci/github-autostatus-plugin/blob/master/src/main/java/org/jenkinsci/plugins/githubautostatus/BuildStatusJobListener.java#L97). The code supporting freestyle jobs is basically a proof of concept, so the code isn't trying very hard :-) The task would be to figure out how to get the mis

[2020-01-26 09:06] mayaaravotwm commented on #81
thanks @imrahul361 !

[2020-01-26 09:08] mayaaravotwm commented on #81
hey, @jeffpearce If you have an idea about the missing build number and cause in **pipeline** jobs i would really like to know :)
![image](https://user-images.githubusercontent.com/58945684/73133044-13042980-402c-11ea-85f3-ef425c63d01b.png)

[2020-01-27 13:19] Perry3D commented on #52
I can confirm. Updated to 3.6.1 and it is not working for me.

[2020-01-29 16:18] awiddersheim opened #91 "Issues with catchError and NOT_BUILT"
After #87 things are working much better but I do have some code that will do something like this:

[code]

This results in the stage being stuck in a `Pending` state in GitHub. Personally, I think these should get considered as successful or I guess just not considered at all when determining stage state.

[2020-01-30 18:35] biolauri commented on #86
Thanks! In the logs, I found `Could not find commit sha - status will not be provided for this build`, so it seems to be that

https://github.com/jenkinsci/github-autostatus-plugin/blob/4032867985037f0974774042f2e4905124f0583e/src/main/java/org/jenkinsci/plugins/githubautostatus/config/GithubNotificationConfig.java#L164

returns `null`.

I looked into it a bit: With only a single pipeline, it fail

[2020-02-03 15:23] augu65 opened #92 "Branch Field is alwaus"
The branch field for our pipelines always comes back as none. We have tried setting the GIT_BRANCH and BRANCH_NAME variables and neither has worked.
![Capture](https://user-images.githubusercontent.com/31897198/73665489-2f791500-466f-11ea-8b3e-d962773deec9.PNG)

[2020-02-06 22:05] rigrassm opened #94 "Send results to InfluxDB in batches"
Currently, each datapoint generated by the plugin is being sent in it's own individual HTTP request to the InfluxDB API.

While this isn't an issue when the number of datapoints being sent are relatively low, this can lead to significant traffic and unnecessary write activity on the InfluxDB server when the number of datapoints increases.

The official recommendation from InfluxDB's documentation

[2020-02-10 14:10] vivekj11 opened #95 "rename org value for non-multibranch pipeline from "none" to "Others""
I have configured the plugin for my Jenkins where multibranch and normal pipeline jobs are configured. So for multibranch (folder), it shows the org value as the name of the folder which is correct but for other jobs (which are not multibranch pipeline) it shows them inside none folder.
Can we rename this none to something like Others, as at the first glance it gives an impression that nothing is

[2020-02-25 18:31] biolauri commented on #52
Any update? Or is the current solution to downgrade to 3.6.0?

[2020-02-27 06:31] raymondhoagland opened #96 "Labeled Durable Tasks Reported as Stage"
DurableTaskSteps now support labels, but [using a label](https://github.com/jenkinsci/workflow-durable-task-step-plugin/blob/master/src/main/java/org/jenkinsci/plugins/workflow/steps/durable_task/DurableTaskStep.java#L145-L147) results in a call to `FlowNode.addAction` causing the plugin to report the step as a stage.

The plugin appears to recognize these steps are not really stages, as the statu

[2020-02-27 12:56] sshepel commented on #11
Same issue for me, looks like global config object doesn't have `BuildStatusConfig.class`.

[2020-02-28 16:08] jeffpearce commented on #96
@raymondhoagland can you give me a sample pipeline I can test with?

[2020-02-28 16:09] jeffpearce commented on #11
@sshepel would it be possible to get a full stack trace to help me narrow it down?

[2020-02-28 16:09] #20 closed

[2020-02-28 19:07] raymondhoagland commented on #96
[code]
should be sufficient to show the issue - 3 statuses are reported for this pipeline

1. `continuous-integration/jenkins/branch` - standard status from Jenkins
2. `Test Autostatus` - the  actual stage
3. `echo hello` - the label of the shell step

[2020-02-28 19:08] jeffpearce commented on #96
Thanks, that will make it easy to fix.

[2020-03-01 13:57] jeffpearce commented on #96
Thanks for the report. Fix upcoming

[2020-03-02 01:13] raymondhoagland commented on #96
Awesome, thanks!

[2020-03-02 15:44] jeffpearce commented on #52
I have a fix - look for a release in the next day or two

[2020-03-05 18:14] jeffpearce commented on #52
Fix should be in 3.6.2. Let me know if you continue to have issues.

[2020-03-05 18:14] jeffpearce commented on #96
Fix should be in 3.6.2. Let me know if you continue to have issues.

[2020-03-09 18:00] sshepel commented on #11
Provided in gitter DM.

[2020-03-22 10:50] Perry3D commented on #52
I can confirm that the latest release fixed it for me. I think we can close the issue.
Thank you very much!

[2020-04-07 20:11] screamingskulls opened #98 "no able to use this plugin.... not getting any status checks"
What am i missing ?
currently using username and password as creds to github.

Error message:
null
java.net.SocketTimeoutException: connect timed out
	at java.base/java.net.PlainSocketImpl.socketConnect(Native Method)
	at java.base/java.net.AbstractPlainSocketImpl.doConnect(AbstractPlainSocketImpl.java:399)
	at java.base/java.net.AbstractPlainSocketImpl.connectToAddress(AbstractPlainSocketImpl.jav

[2020-05-27 00:50] serdar-luminar opened #99 "Jenkins declarative pipeline skipped stages marked as 'CompletedError' when build failed"
When Jenkins declarative pipeline parallel build fails due to stage failure, rest of the skipped stage's result marked as '**CompletedError**'
Skipped stage's result should be marked as '**SkippedFailure**' (BuildStage.State.SkippedFailure)
Because of this, whenever I look at the build errors, I see many stages counted as failed even thought there is only one stage fails the build.
Steps to reprod

[2020-05-28 09:56] MaheshGooner commented on #98
Having the same issue. anyworkarounds/suggestions to get this work ?

[2020-06-18 22:26] biolauri opened #100 "All stages are reported as green when there's an exception in the environment section"
I had an error in my `environment` section (using _declarative_ pipeline) which led to an exception and the whole pipeline being aborted and the overall status being failed.

But the GitHub Autostatus plugin reports all stages in my pipeline as green/complete w/o failure. I'd say, this is an error as no stage was passed.

[2020-06-29 12:33] AFriemann opened #101 "Skipped stages show up as built successfully"
Skipped stages currently show up as successful on pull requests

### Example

Here the `docker push` stage is skipped on PRs

![image](https://user-images.githubusercontent.com/1730315/86005184-962f0e80-ba14-11ea-9fdd-460458403971.png)

yet it still shows up as "built successfully" on the commit.

![image](https://user-images.githubusercontent.com/1730315/86005135-84e60200-ba14-11ea-85aa-8f61e5297

[2020-07-13 15:42] ls-christine-dodrill opened #102 "How do you set up this plugin?"
How do you set up this plugin and configure it with GitHub? I tried installing it to my Jenkins server, but I cannot find the configuration options referenced in the README. Are there any dependencies that I am missing?

[2020-07-28 12:31] purushothr opened #103 "Job measurement is not showing in the influxdb"
Hi,

I have installed autostatus plugin and configured as mentioned in the blog but when i tried to check in the influxdb, the stage is showing but JOB measurement is missing. I have configured correctly, the stage is working fine.

I want to see the JOB measurement in the influx. Please help me on this.

[2020-09-15 14:56] biolauri commented on #102
I'll try to help, although I'm not a maintainer of this plug-in. :-)

The configuration options in the README can be found in the Jenkins settings via _Manage Jenkins_ > _Configure System_ in section _Autostatus Config_. On the [official plugin page](https://plugins.jenkins.io/github-autostatus/), you can find a bit more options (it's also linked in the Readme at the bottom).

In general, to get i

[2020-09-26 00:58] ivorsliide commented on #101
Any solution to this?, it was working in 3.6.0, what version are you using?

[2020-11-09 14:27] dzmitry-moisa opened #104 "Posting status to a measurement with exception message when exception is thrown out of node"
The plugin generates a lot of junk when any command generates exception out of node construction. It is creating a measurement with an exception message instead of writing to `job` or `stage` measurement.

Steps to reproduce:
1. Configure connection to InfluxDB
2. Crete a pipeline job
3. Generate an exception not wrapping it in `node() {...}`
4. The plugin creates a measurement with the name of ex

[2020-11-09 16:15] jeffpearce commented on #104
I've been trying to figure out a better way to handle these for awhile. Originally I added the ability to log exceptions outside of the pipeline because we had a couple of scripts that did this, and I wanted to be able to get status about particular errors.

Curious what would work for you. It seems clear that it should write to the `job` measurement, but if an exception happens outside of a stage

[2020-11-10 07:08] dzmitry-moisa commented on #104
I think that Option 2 would be the better way. It could allow to get the satats of such cases and fix them asap.

[2020-11-10 14:33] jeffpearce commented on #104
That's the way I was leaning as well. I'll make that change. Thanks for reporting!

[2020-11-25 18:20] joxoby opened #105 "Select which stages to notify about"
One of the issues that I encountered is that there's no way to select (or deselect) which stages you want to notify about. Consider the following case:

[code]
If a user opens a PR (not `master` branch), `Stage 2` will not run, and thus they will get a constant `PENDING` notification for that stage.

I am considering adding functionality to prevent similar cases and would be nice to get some ideas

[2021-02-25 02:22] dream960727 opened #106 "Can I add a custom influxdb tag？"
I use this plugin to save the stages information in finfluxdb, and it works very well. I want to use this data in grafana, I need to use the jobname of the stage as a tag because i want to use query "select ... from stage group by jobname", but it's a field. what should i do?

[2021-03-10 13:19] FCamborda commented on #104
Heyo, has this been already addressed? :)

[2021-03-11 10:20] ChrisRamsayITV opened #107 "Job left in pending status in github after a merge"
### Version report

Jenkins and plugins versions report:

[code]

- What Operating System are you using (both controller, and any agents involved in the problem)?

[code]

### Reproduction steps

Firstly - great plugin :)
- I have a merge job which runs automatically. After the merge has run, the checks are left in a pending state in github - although the jenkins job is marked as successful
- Merg

[2021-04-07 11:03] mrtnlrsn commented on #99
I think I see the same (but without any parallel steps). The script below marks both steps as failed, though build step should be marked as not run.
[code]

[2021-04-07 12:06] UlrichBlunck commented on #104
Hey @jeffpearce ,
we've encountered this error on our monitoring database as well. And since we help collecting data for multiple projects it's kind of hard to give a proper overview over the number of occurring errors.
Having this wrapped in a more easily matchable way would be super helpful! ;) +1

[2021-04-08 08:34] mohsen-alizadeh-clark2 commented on #107
any update on this issue? I have similar problem

[2021-04-22 17:18] sgleske-ias commented on #50
I'm still able to replicate this; I'm not sure of the exact cause still.  However, when I run an SCM checkout at the beginning of the pipeline there are issues.

[2021-05-06 14:27] s-kelvin commented on #106
Same here. Is there any workaround on this?

[2021-05-06 14:42] s-kelvin commented on #43
In InfluxDB you cannot group by a field so after you changed "buildnumber" from a tag to field, we can no longer use it as a tag to generate the same build duration graph above. Is there any workaround?

[2021-05-12 10:24] elkh510 opened #108 "github api throttling"
Firstly - great plugin :)

### Version report

Jenkins and plugins versions report:

[code]

- What Operating System are you using (both controller, and any agents involved in the problem)?

[code]

### Reproduction steps

- jenkins job use in scm github-app(instead of github user), but github-autostatus-plugin can't use github-app and we get limit in 5000 call per hour(limit for github-app 15000

[2021-05-12 13:45] gkoloventzos opened #109 "Jenkins Configuration as a Code configuration exists?"
Hello,

Is anywhere documented if I can configure this plugin on the Jenkins Configuration as Code?

[2021-07-03 18:03] ababushk commented on #109
Well, it isn't documented, so usually I just configure it via the UI and then copy results from 'View configuration' page from CasC plugin. Here's example config from here https://github.com/ababushk/jenkins-observability-talk/blob/main/casc/13-job_and_stage_monitoring.yml
[code]

[2021-07-06 10:19] mohan236 commented on #81
hello All, could you confirm , is this issue fixed.  i m getting folder as "None" and build number as # still

[2021-07-14 13:14] #109 closed

[2021-07-16 16:37] corporate-gadfly opened #110 "Write *.prom files to filesystem for prometheus statistics"
### Feature Request
From looking at the features of this plugin, the plugin focuses on **pushing** metrics to endpoints. Would it be possible to add a feature which writes prometheus statistics as `*.prom` files on the filesystem?

This will allow prometheus node_exporter to **pull** these files if they are placed in a text collector directory.

[2021-08-06 14:08] llange opened #111 "How can I disable the status update for specific projects ?"
Hello,

I have some specific (multibranch) projects, using declarative pipeline Jenkinsfile, for which I'd like to skip the status update.

Rationale: I'm building some GitHub projects for which the Jenkins/Gihub user has no write rights, and I'd prefer NOT to have the error message:
* `Could not update commit status, please check if your scan credentials belong to a member of the organization or

[2021-10-07 17:00] nsballmann opened #112 "Support on blocked InfluxDbNotifier"
## Versions

Jenkins 2.289.2
github-autostatus:3.6.2
See other plugins in [plugins.txt](https://github.com/jenkinsci/github-autostatus-plugin/files/7305290/plugins.txt).

## Issue

I have tried to kill a build and now the thread finalizing the build is blocked on InfluxDbNotifier. Excerpt from `/threadDump`:

[code]

When trying

[code]

any subsequent attempts block the same:

[code]

The owning

[2021-11-09 17:36] jeffpearce commented on #112
This is definitely a bug in the plugin. I'll add a timeout in the next release, should be available in a day or two

[2022-02-01 10:16] PhotoTeeborChoka commented on #105
Maybe it would be better to have the correct status reported (skipped in this case) and have a configuration option to "not report skipped jobs".

[2022-02-01 10:19] PhotoTeeborChoka commented on #101
This is displayed as `build pending` in the `github-autostatus:3.6.2` and that is even worse, believe me. I want this to be labeled as `skipped` with a
![image](https://user-images.githubusercontent.com/61687784/151951013-ab357b84-58b6-412a-995d-11e7792c23c3.png) symbol.

[2022-02-01 10:57] PhotoTeeborChoka opened #114 "Properly report the skipped status"
### What feature do you want to see added?

Thank you for this amazing plugin.

## Basic info
version: `github-autostatus:3.6.2`

## Problem
Originally the plugin labeled skipped jobs as `stage built successfully` (as evidenced by the now likely obsolete issue #101). Currently the plugin does not notify about the jobs once skipped, resulting in `Building stage` with yellow dot. The current state i

[2022-03-30 13:01] yakirtzad opened #115 "'github-autostatus' plugin sometimes doesn't update each status check in the PR"
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>

[code]

</details>

### What Operating System are you using (both controller, and any agents involved in the problem)?

Jenkins Configuration as Code based on Kubernetes

### Reproduction steps

1. Install the github-autostatus plugin (version 3.6.2)
2. Create an integration with GitHub enterprise based on GitHub-

[2022-05-15 13:51] vbronfman opened #116 ""Unauthorized"error upon attempt to write to InfluxDB"
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>

[code]

</details>

### What Operating System are you using (both controller, and any agents involved in the problem)?

Jenkins server of docker image _jenkins/jenkins:latest_  , reports to InfluxDB v2.2
Attempt to use In Jenkins -> Configure System -> Autostatus Config -> Send to InfluxDB
returns {"code":"unautho

[2022-05-16 00:48] jeffpearce commented on #116
Ah yeah, looks like they changed the way they do auth - it's an API token now instead of user/password. i'll have to figure out how to support both old and new auth methods. Thanks for the good repo steps - will make it easier

[2022-05-16 06:19] vbronfman commented on #116
Superb!
Quite a speculation but here is they note the way to connect is employ header "Authorization: Token YOUR_INFLUX_TOKEN"
It work for me via CLI

[2022-05-20 14:31] larsskj opened #122 "Cannot make statsd work"
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>

[code]

</details>

### What Operating System are you using (both controller, and any agents involved in the problem)?

I'm trying to make a test setup working with statsd/graphite by running the official Jenkins Docker image and the [docker-graphite-statsd](https://github.com/graphite-project/docker-graphite-stat

[2022-05-20 15:25] jeffpearce commented on #122
Can you take a look in the Jenkins logs? I suspect there's some error there
that could give us a hint

On Fri, May 20, 2022 at 7:31 AM Lars Skjærlund ***@***.***>
wrote:

[2022-05-23 12:46] larsskj commented on #122
Just to see something work, I tried adding an InfluxDB to the setup as well.

Unfortunately, neither does this seem to work: The plugin config recommends InfluxDB version 2 - but it seems it attempts to write to Influx using version 1 format even though config is set to version 2?

[code]

[2022-05-23 12:47] larsskj commented on #122
This probably deserves a bug on its own?

[2022-05-23 13:51] larsskj commented on #122
Just to add something positive: Using InfluxDB 1.8 works.

[2022-05-24 12:53] larsskj opened #125 "Strange data in Influx DB"
### Jenkins and plugins versions report

Same setup as in bug #122.

### What Operating System are you using (both controller, and any agents involved in the problem)?

Same setup as in bug #122.

### Reproduction steps

I have created two jobs in my Jenkins test-setup: One is a "full" Git repo setup in Jenkins as a multibranch pipeline. The other is a local pipeline setup in Jenkins with the buil

[2022-07-11 23:33] rogerluan commented on #102
I'll leave something here that took me the whole day to figure out...

Yes, you need to set up the GitHub App. But it's not enough to just change the git credentials provider from SSH + Private Key to GitHub App, you actually have to change the Source from "Git" to "GitHub" in your Multibranch Pipeline (my case). Otherwise it won't report any checks.

Hope this helps someone out there!

[2022-07-11 23:34] rogerluan commented on #102
My setup works just fine in a non-org pipeline, btw.

[2022-07-28 03:32] LeeU1911 commented on #115
I'm having the same issue:
![Screenshot 2022-07-28 at 11 29 31 AM](https://user-images.githubusercontent.com/7745049/181414245-6e525584-c80f-4f97-a5be-e8898a4ab2c5.png)
Occasionally, 1 or 2 of my last stages don't get status updates. I looked at the Github app log, it doesn't receive a post from Jenkins. That means `github-autostatus` failed to send the notification to Github for some reason.
It a

[2022-08-01 23:16] eshackelford-ias commented on #115
We are seeing this same behavior as well. Is there an update on this?

[2022-08-08 09:39] niyasimonc commented on #115
any update on this issue ?

[2022-10-27 17:18] felipecrs opened #146 "Log spamming with NPE"
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>

[code]

</details>

### What Operating System are you using (both controller, and any agents involved in the problem)?

Using docker for controller, using Kubernetes for agents.

### Reproduction steps

Sorry, I don't know exactly.

### Expected Results

Not to spam the Jenkins logs with this log.

### Actual Resu

[2022-11-25 11:17] andrikoz commented on #116
Hello , we 've experienced the same issue. Do we have any update on that?